.limt-form-with {
    width: 264px;
  }
.ntf-form{
    .van-cell{
        border-radius: 15px;
        background-color: #242424;
        &::after{
            display: none;
        }
    }
    .van-field__control{
        color: #fff;
    }
}
.ntf-vant-btn{
    border-radius: 15px;
    background-color: var(--main);
    border-color: var(--main);
}