$dark-color: #17181c;
.field-inlude-code{
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  padding-right: 6px !important;
}

$max: 40;
$offset: 4;
$unit: 'px'; // Feel free to change the unit.
@mixin list-loop($className, $styleName) {
  $i: 0;
  @while $i <= $max {
    #{$className + $i} { 
      #{$styleName}: #{$i * 1 + $unit} !important; // Added !important
    }
    $i: $i + $offset;
  }
}
// Margins
@include list-loop('.m-t-', 'margin-top');
@include list-loop('.m-r-', 'margin-right');
@include list-loop('.m-b-', 'margin-bottom');
@include list-loop('.m-l-', 'margin-left');
@include list-loop('.m-x-', 'margin');
// Paddings
@include list-loop('.p-t-', 'padding-top');
@include list-loop('.p-r-', 'padding-right');
@include list-loop('.p-b-', 'padding-bottom');
@include list-loop('.p-l-', 'padding-left');
@include list-loop('.p-x-', 'padding');
input::placeholder {
  color: #545d6a !important

}
.limt-form-with {
    width: 264px;
  }
.ntf-form{
  .lable-text{
    font-size: 14px;
    color: #cacbce;
    margin-bottom:8px;
  }
    .van-cell{
        background-color: transparent;
        padding: 0;
        
        .van-field__body{
          border-radius: 20px;
          background-color: $dark-color;
          height: 48px;
          padding: 8px 8px 8px 16px;
        }
        &.icon-input{
          .van-field__body{
            padding-left: 40px;
           
          }
          .icon-img{
            width: 20px;
            height: 20px;
            object-fit: contain;
          }
          .van-field__left-icon{
            position: absolute;
            height: 48px;
            width: 40px;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 3;
          }
        }
        &.phone-input{
          .van-field__body{
            padding-left:86px;
          }
          .icon-img{
            width: 20px;
            height: 20px;
          }
          .van-field__left-icon{
            z-index: 16;
            position: absolute;
            height: 48px;
            width:76px;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 3;
            &::before {
              content: "";
              display: block;
              width: 1px;
              height: 25px;
              background-color: #fff;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 0; /* adjust the position as needed */
            }
          }
        }
        &::after{
            display: none;
        }
    }
    .van-field__control{
        color: #fff;
    }
    .van-field--error .van-field__control, .van-field--error .van-field__control::placeholder{
        color: #fff;
    }
}
.ntf-vant-btn{
    height: 48px;
    border-radius: 15px;
    background-color:transparent;
    background-image: linear-gradient(to right, #11998e 0%, #38ef7d 100%);
    border:none;
}
.linear-btn{
  border-radius: 9px;
  border:none;
  background-image: linear-gradient(to right, #11998e 0%, #38ef7d 100%);
  background-color: transparent;
}
.ntf-btn-cancel{
    background-color: #344756;
    border-color: #344756;
}
.linear-global-pop{
  border-radius: 14px;
  border: solid 1px rgba(0, 0, 0, 0);
  background-image: linear-gradient(to bottom, #1f2430, #151515);
  padding: 12px 24px;
}
.send-code-btn{
    height: 30px;
    border-radius: 15px;
    min-width: 84px;
    padding: 0 8px;
    background-color:transparent;
    background-image: linear-gradient(to bottom, #11998e 0%, #38ef7d 100%);

    border:none;
    color: #fff;
}

.el-ntf-select{
  height: 44px;
  border-radius: 15px;
  background-color: $dark-color;
  .el-input__inner{
    padding-left: 16px;
  }
  .el-input__inner, .el-select__caret{
    color: #fff !important;
  }
   
}