$max: 40;
$offset: 4;
$unit: 'px'; // Feel free to change the unit.
@mixin list-loop($className, $styleName) {
  $i: 0;
  @while $i <= $max {
    #{$className + $i} { 
      #{$styleName}: #{$i * 1 + $unit} !important; // Added !important
    }
    $i: $i + $offset;
  }
}
// Margins
@include list-loop('.m-t-', 'margin-top');
@include list-loop('.m-r-', 'margin-right');
@include list-loop('.m-b-', 'margin-bottom');
@include list-loop('.m-l-', 'margin-left');
@include list-loop('.m-x-', 'margin');
// Paddings
@include list-loop('.p-t-', 'padding-top');
@include list-loop('.p-r-', 'padding-right');
@include list-loop('.p-b-', 'padding-bottom');
@include list-loop('.p-l-', 'padding-left');
@include list-loop('.p-x-', 'padding');
input::placeholder {
  color: #808080 !important

}
.limt-form-with {
    width: 264px;
  }
.ntf-form{
  .lable-text{
    font-size: 14px;
    color: #cacbce;
    margin-bottom: 16px;
  }
    .van-cell{
        background-color: transparent;
        padding: 0;
        
        .van-field__body{
          border-radius: 15px;
          background-color: rgba(255,255,255,0.1);
          height: 48px;
          padding: 8px 8px 8px 16px;
        }
        &.icon-input{
          .van-field__body{
            padding-left: 40px;
          }
          .icon-img{
            width: 20px;
            height: 20px;
          }
          .van-field__left-icon{
            position: absolute;
            height: 48px;
            width: 40px;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        &.phone-input{
          .van-field__body{
            padding-left: 60px;
          }
          .icon-img{
            width: 20px;
            height: 20px;
          }
          .van-field__left-icon{
            z-index: 16;
            position: absolute;
            height: 48px;
            width:58px;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        &::after{
            display: none;
        }
    }
    .van-field__control{
        color: #fff;
    }
    .van-field--error .van-field__control, .van-field--error .van-field__control::placeholder{
        color: #fff;
    }
}
.ntf-vant-btn{
    border-radius: 15px;
    background-color: var(--main);
    border-color: var(--main);
}
.ntf-btn-cancel{
    background-color: #344756;
    border-color: #344756;
}
.linear-global-pop{
  border-radius: 14px;
  border: solid 1px rgba(0, 0, 0, 0);
  background-image: linear-gradient(to bottom, #1f2430, #151515);
  padding: 12px 24px;
}
.send-code-btn{
    height: 30px;
    border-radius: 15px;
    min-width: 84px;
    padding: 0 8px;
    background-color: var(--main);
    border-color: var(--main);
    color: #fff;
}
.field-inlude-code{
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    padding-right: 6px !important;
}
.el-ntf-select{
  height: 44px;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.1);
//   padding-left: 16px;
//   padding-right: 16px;
  .el-input__inner{
    padding-left: 16px;
  }
  .el-input__inner, .el-select__caret{
    color: #fff !important;
  }
   
}