.limt-form-with {
    width: 264px;
  }
.ntf-form{
    .van-cell{
        border-radius: 15px;
        background-color: #242424;
        &::after{
            display: none;
        }
    }
    .van-field__control{
        color: #fff;
    }
}
.ntf-vant-btn{
    border-radius: 15px;
    background-color: var(--main);
    border-color: var(--main);
}
.linear-global-pop{
  border-radius: 14px;
  border: solid 1px rgba(0, 0, 0, 0);
  background-image: linear-gradient(to bottom, #1f2430, #151515);
  padding: 12px 24px;
}